.Content {
  color: white;
  margin-top: 3em;
  margin-left: 3em;
  margin-right: 3em;
}

.Item {
  margin-top: 2em;
  margin-bottom: 4em;
}

.Item-heading {
  font-size: 4.5em;
  font-weight: 500;
}

.Item-sub-heading {
  font-size: 2.5em;
  font-weight: 500;
  color: #ff8c00;
}

.Item-description {
  font-size: 2.5em;
  font-weight: 100;
  margin: 0;
  margin-left: 1em;
  margin-top: 0.75em;
}
